body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Arial;
}

header {
  background-color: rgb(255, 0, 170);
  display: flex;
  padding: 2rem;
  min-height: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

header p {
  margin: 0;
}

header span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

main {
  background-color: rgb(255, 224, 46);
  border: 1px solid rgb(200, 150, 20);
  display: flex;
  padding: 2rem;
  padding-bottom: 1.5rem;
  max-width: 30rem;
  border-radius: 2rem;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

#date {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

#items {
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 150, 20);
}

.item:last-child {
  border-bottom: none;
}

.item * {
  margin: 1rem;
  padding: 0.5rem;
}

input:focus {
  outline:none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid rgb(200, 150, 20);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: rgb(200, 150, 20);
}

input[type="text"] {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(200, 150, 20);
}

.time {
  width: 4rem !important;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid rgb(200, 150, 20) !important;
  border-radius: 1rem;
}

#newitem {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}